@model Manga.Models.Tendencia
@{
    ViewData["Title"] = "Home";
}


<main>

<section class="Tendencia d-flex justify-content-center">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
                <div class="carousel-item active"> @Model.seriales.First().Nombre</div>
                @foreach (var serie in Model.seriales)
                {
                                        var rutaFoto = "~/media/serie/" + serie.RutaFoto;
                    <div class="carousel-item">
                        <div class="contenedorTendencia d-flex flex-column">
                            <h2>Tendencia</h2>
                            <div class="imagenTendencia">
                                <div class="serieTendencia d-flex">
                                    <img src="@rutaFoto" alt="" asp-append-version="true">
                                </div>
                                <div class="serieTendenciaDescripcion d-flex flex-column justify-content-between">
                                        <h3> @Html.DisplayFor(modelItem => serie.Nombre)</h3>

                                        <p class="descripcion">
                                            @Html.DisplayFor(modelItem => serie.Descripcion)
                                        </p>

                                        <p class="tipoManga">Manga</p>

                                        <br>   
                                    <ul class="generos d-flex">
                                        <li>@serie.Categoria</li>
                                        
                                        <li>Genero</li>
                                        <li>Genero</li>
                                        <li>Genero</li>
                                        <li>Genero</li>
                                        <li>Genero</li>
                                    </ul>
                                </div>
                            </div>

                            <div>
                            </div>

                        </div>
                    </div>
                }
           
           @* <div class="carousel-item">
                <div class="contenedorTendencia d-flex flex-column">

                    <h2>AAAAAAAAAAAAAAAAAAAAAA</h2>

                    <div class="serieTendencia d-flex">

                        <div class="imagenTendencia">
                            <img src="~/media/serie/two_exoscirst.jpg" alt="">
                        </div>

                        <div class="serieTendenciaDescripcion d-flex flex-column justify-content-between">
                            <h3>Titulo</h3>

                            <p class="descripcion">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
                                corporis consequatur, similique itaque ipsum corrupti recusandae magni error
                                tempora dicta illo quas aspernatur tempore saepe? Maxime saepe ex mollitia eum?
                            </p>

                            <p class="tipoManga">Manga</p>

                            <ul class="generos d-flex">
                                <li>Genero</li>
                                <li>Genero</li>
                                <li>Genero</li>
                                <li>Genero</li>
                                <li>Genero</li>
                                <li>Genero</li>
                            </ul>

                        </div>

                    </div>

                    <div>
                    </div>

                </div>
            </div>*@
        </div>

        <div class="carouselTendeciaButtons">

            <button class="" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </div>



</section>
<section class="UltimosAgregados">

    <div id="carouselUltimosAgregados" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="listaAgregados d-flex flex-column">

                    <h2>Ultimos agregados</h2>

                    <div class="row justify-content-between">

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="carousel-item">
                <div class="listaAgregados d-flex flex-column">

                    <h2>Ultimos agregados</h2>

                    <div class="row justify-content-between">

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="../media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="../media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                        <div class="serieAgregada d-flex col-4">

                            <div class="serieAgregadaImg d-flex">
                                <img src="~/media/svg/Star.png" alt="">
                            </div>

                            <div class="serieAgregadaDatos d-flex flex-column">

                                <h3>Titulo</h3>

                                <div class="serieAgregadaDescpricion">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum tenetur
                                        nesciunt modi hic eveniet? Nam, quis atque. Quas iste nam, unde quo
                                        minus laborum possimus beatae et aperiam, laboriosam placeat!
                                    </p> <span>...</span>

                                </div>

                                <d class="serieAgregadaCapitulo">Ch. 39</d>

                                <p class="serieAgregadaNota"><img src="~/media/svg/Star.png" alt=""> 4.8</p>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="carouselTendeciaButtons">

            <button class="" type="button" data-bs-target="#carouselUltimosAgregados" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="" type="button" data-bs-target="#carouselUltimosAgregados" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </div>
    </section>
</main>
