@model Manga.Models.Usuario

@{
    ViewData["Title"] = "Details";
    var rutaFoto = "~/media/perfil/" + (Model.RutaFoto ?? "default.jpeg");
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(model => model.Usuario1)</h4>
                <p class="card-text">
                    <strong>@Html.DisplayNameFor(model => model.Email):</strong>
                    @Html.DisplayFor(model => model.Email) <br />
                    <strong>@Html.DisplayNameFor(model => model.Nombre):</strong>
                    @Html.DisplayFor(model => model.Nombre) <br />
                    <strong>@Html.DisplayNameFor(model => model.Apellido):</strong>
                    @Html.DisplayFor(model => model.Apellido)<br />
                    <strong>@Html.DisplayNameFor(model => model.Favoritos):</strong>
                    @Html.DisplayFor(model => model.Favoritos)
                </p>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@rutaFoto" asp-append-version="true" />
            </div>
        </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
