@model Manga.Models.Usuario

@{
    ViewData["Title"] = "Details";
    var rutaFoto = "~/media/perfil/" + (Model.RutaFoto ?? "default.jpeg");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-sm-6 col-lg-6 align-content-center">
            <div>
                <h1>Detalles</h1>
                <h4>Usuario</h4>
                <hr />
                <dl class="row align-content-center" style="color:black">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(model => model.Usuario1)</h4>
                            <p class="card-text">
                                <strong>@Html.DisplayNameFor(model => model.Email):</strong>
                                @Html.DisplayFor(model => model.Email) <br />
                                <strong>@Html.DisplayNameFor(model => model.Nombre):</strong>
                                @Html.DisplayFor(model => model.Nombre) <br />
                                <strong>@Html.DisplayNameFor(model => model.Apellido):</strong>
                                @Html.DisplayFor(model => model.Apellido)<br />
                                <strong>@Html.DisplayNameFor(model => model.Favoritos):</strong>
                                @Html.DisplayFor(model => model.Favoritos)
                            </p>
                        </div>
                        <div class="card-body text-center">
                            <img class="card-img-top" src="@rutaFoto" asp-append-version="true" />
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-6">
            <h1>Editar</h1>

            <h4>Usuario</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Correo Electronico</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usuario1" class="control-label">Usuario</label>
                            <input asp-for="Usuario1" class="form-control" />
                            <span asp-validation-for="Usuario1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Clave" class="control-label">Nueva Contraseña</label>
                            <input asp-for="Clave" type="password" class="form-control" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="cClave" class="control-label">Confirmar Contraseña</label>
                            <input asp-for="cClave" type="password" class="form-control" />
                            <span asp-validation-for="cClave" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label"></label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Foto" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Foto" accept="image/*" type="file" class="form-control custom-file-input"/>
                                <span asp-validation-for="Foto" class="text-danger"></span>
                                <label class="custom-file-label">Seleccione una imagen</label>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




