@using Manga.Models.Entities
@model IEnumerable<Serie>

@{
    ViewData["Title"] = "Series";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capitulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volumenes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serializacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favoritos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capitulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volumenes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serializacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favoritos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idserie">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idserie">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idserie">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
