@using Manga.Models.Entities
@model Capitulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Capitulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idserie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idserie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagenes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagenes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volumen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcapitulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
